:root{
  --main: #1B4332;
  --dark: #0F2E23;
  --accent: #C6A75E;
  --light: #F8F9FA;
  --soft: #E9ECEF;
  --text: #333;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 15px 40px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
}

.nav_container {
  font-size: 26px;
  font-weight: bold;
  color: var(--main)
}

.nav_container span {
  font-weight: 300;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav_links a {
 transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.nav_links a:hover {
  color: var(--accent);
  transform: scale(1.05);
}
.contact-btn {
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid var(--accent);
  color: var(--main);
  background: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: var(--accent);
  color: var(--dark);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--main);
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav_links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #fff;
    padding: 20px 0;
    display: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  }

  .nav_links.active {
    display: flex;
  }
}


.nav_links li {
  position: relative;
}


.dropdown_menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: #fff;
  list-style: none;
  min-width: 200px;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 999;
}

.dropdown_menu li {
  padding: 8px 20px;
}

.dropdown_menu li a {
  font-size: 13px;
  font-weight: 500;
  color: var(--dark);
  display: block;
  text-transform: none;
}

.dropdown_menu li:hover {
  background: rgba(0,0,0,0.03);
}

.dropdown:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url("https://chartwellpartners.com/wp-content/uploads/2023/07/58_ChartwellTeamPortraits_03-29-23.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 1; 
  background: rgba(0, 0, 0, 0.4); 
}


.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 900px;
  padding: 20px;
}

.hero-content h1 {
  color: #fff;
  font-size: 48px;
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 1.3;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.5); 
}



.hero-content.loaded h1 {
  opacity: 1;
  transform: translateY(0);
}
.search {
  padding: 20px 60px;
  background: var(--soft); 
}

.services-bar {
  width: 100%;
  background: var(--main); 
  padding: 25px 0;
}

.services-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: #fff; 
  font-family: Georgia, serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
   transition: background-color 0.3s ease, color 0.3s ease;
}
.services-container:hover {
  background-color: rgba(27, 67, 50, 0.85);
}

.services-container .divider {
  opacity: 0.6;
}



.industry{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px 40px;
}

.industry h2 {
  font-size: 48px;
  font-family: Georgia, serif;
  color: var(--main);
  margin-bottom: 20px;
}

.industry p {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
}

.outline{
  border: 2px solid var(--main);
  padding: 14px 28px;
  text-decoration: none;
  color: var(--main);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
   transition: 0.3s;
}
.outline:hover {
  background: var(--main);  
  color: #fff;              
  transform: translateY(-3px);  
  box-shadow: 0 6px 15px rgba(0,0,0,0.1); 
}
.expertise{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 40px 60px 100px;
}

.card {
  background: #fff;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
.card:hover{
   transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.card .icon {
  font-size: 40px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color:var(--main);
}

.card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.card ul li {
  margin-bottom: 12px;
  font-size: 16px;
}

.card a {
  color:var(--main);
  font-weight: 700;
  text-decoration: none;
}
.team {
  padding: 100px 0;
  background: var(--soft);
}

.team-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.team h2 {
  font-size: 48px;
  margin-bottom: 50px;
  color:var(--main);
  text-align: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.team-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}


.team-img {
  position: relative;
  overflow: hidden;
}
.team-card img {
  width: 100%;
  aspect-ratio: 4/3;   
  object-fit: cover;
  object-position: center top;
  display: block;
}


.team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}
.team-overlay {
  position: absolute;
  inset: 0;
  background: rgba(27, 67, 50, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s ease;
}

.team-card:hover .team-overlay {
  opacity: 1;
}

.team-card:hover img {
  transform: scale(1.1);
   transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.team-info {
  padding: 20px;
  text-align: center;
}

.team-info h4 {
  font-size: 18px;
  color: var(--dark);
  margin-bottom: 6px;
}

.team-info p {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:var(--text);
}

.profile-btn {
  border: 2px solid #fff;
  color: var(--main);
  padding: 10px 22px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.profile-btn:hover {
  background: #fff;
  color:var(--main);
   transform: translateY(-3px); 
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);

}

:root{
  --main: #1B4332;
  --dark: #0F2E23;
  --accent: #C6A75E;
  --light: #F8F9FA;
  --soft: #E9ECEF;
  --text: #333;
}


.trust{
  background: var(--light);
  padding: 80px 0;
  font-family: 'Segoe UI', sans-serif;
}

.trust-container{
  width: 85%;
  margin: auto;
}


.trust-header{
  max-width: 700px;
  margin-bottom: 50px;
}

.trust-header h2{
  font-size: 40px;
  color: var(--main);
  margin-bottom: 20px;
}

.trust-header p{
  color: var(--text);
  line-height: 1.8;
  font-size: 16px;
}


.trust-content{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}


.trust-values{
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.trust-item{
  background: white;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid var(--soft);
  transition: 0.3s ease;
}

.trust-item:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.trust-item h3{
  color: var(--main);
  margin-bottom: 10px;
  font-size: 20px;
}

.trust-item p{
  color: var(--text);
  line-height: 1.7;
  font-size: 15px;
}

.trust-stats{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat-box{
  background: var(--dark);
  color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.stat-box h3{
  font-size: 36px;
  color: var(--accent);
  margin-bottom: 10px;
}

.stat-box p{
  font-size: 14px;
  letter-spacing: 1px;
}


@media (max-width: 992px){
  .trust-content{
    flex-direction: column;
  }

  .trust-values{
    grid-template-columns: 1fr;
  }
}

.site-footer {
  margin-top: 30px;
  background: linear-gradient(180deg, var(--main), var(--dark));
  color: var(--light);
  padding: 70px 8% 30px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  gap: 50px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 50px;
}
.footer-brand h2 {
  font-size: 26px;
  letter-spacing: 1px;
}

.footer-brand h2 span {
  color: var(--accent);
}

.tagline {
  margin: 20px 0;
  line-height: 1.6;
  max-width: 320px;
  opacity: 0.9;
}

.contact-btn {
  display: inline-block;
  border: 2px solid var(--accent);
  color: var(--light);
  padding: 10px 22px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
}

.contact-btn:hover {
  background: var(--accent);
  color: var(--dark);
}

.footer-links h4,
.footer-location h4 {
  color: var(--accent);
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--soft);
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--accent);
}

.footer-location p {
  line-height: 1.6;
  opacity: 0.9;
}

.phone {
  margin-top: 15px;
  font-weight: bold;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  opacity: 0.85;
}

.socials {
  display: flex;
  align-items: center;
  gap: 18px;
}

.socials a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials img {
  max-width: 22px;
  max-height: 22px;
  object-fit: contain;
  transition: 0.3s ease;
}

.socials img:hover {
  transform: scale(1.1);
}


.credit {
  color: var(--soft);
}

@media (max-width: 1200px) {
  .hero-content h1 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {

  .industry {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .expertise {
    grid-template-columns: 1fr;
  }

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trust-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .hero-content h1 {
    font-size: 34px;
  }
}

@media (max-width: 768px) {

  .navbar {
    padding: 15px 20px;
  }

  .nav_links {
    gap: 15px;
  }

  .hero {
    height: 70vh;
    margin-top: 80px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .services-container {
    font-size: 18px;
    flex-wrap: wrap;
    text-align: center;
    gap: 15px;
  }

  .industry {
    padding: 60px 20px;
  }

  .industry h2 {
    font-size: 32px;
  }

  .industry p {
    font-size: 16px;
  }

  .expertise {
    padding: 40px 20px 80px;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .team {
    padding: 60px 0;
  }

  .trust {
    padding: 0 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .footer-col h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #ffd700;
    font-weight: 700;
}
.footer-col p {
    line-height: 1.9;
    opacity: 0.9;
    margin-bottom: 0.8rem;
    font-size: 1.05rem;
}
.social-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}
.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social-links a:hover {
    background: linear-gradient(135deg, #19296e, #10013c);
    transform: translateY(-5px);
}
.social-links img {
    width: 25px;
    height: 25px;
}
}

@media (max-width: 480px) {

  .hero-content h1 {
    font-size: 22px;
    line-height: 1.4;
  }

  .nav_links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services-container {
    font-size: 15px;
  }

  .stat-box h2 {
    font-size: 36px;
  }
}
.contact-container {
    max-width: 500px; 
    margin: 50px auto; 
    padding: 30px;
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 10px 25px var(--accent); 
    font-family: 'Arial', sans-serif; /
}
.contact-container h2 {
    text-align: center;
    color: var(--dark);
    margin-bottom: 30px;
    font-size: 24px;
    border-bottom: 2px solid var(--accent);
    padding-bottom: 5px;
    width: 100%;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 16px;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color:var(--accent); 
    box-shadow: 0 0 8px var(--text); 
    outline: none;
}
.submit-btn {
    width: 100%;
    padding: 14px;
    background-color:var(--main); 
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color:var(--main);
}
.form-wrapper {
    background-color: #eeeeee;
    padding: 60px 20px;
}
